*{
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#Header{
    margin: 2% auto;
    text-align: center;
}

#Library {
    min-height: 400px;
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #555;
    border: dotted 5px burlywood;
}

#bookForm {
    width: 250px;
    margin: 1% auto;
    text-align: left;
    border: 1px solid sandybrown;
}

input[type="button"]{
    border: solid 1px whitesmoke;
    background-image:none;
    background-color: cornflowerblue;
    box-shadow: none;
    margin: 1% 0;
    outline: inherit;
    cursor: pointer;
    padding: 1.25% 5%;
}

input[type="button"]:active {
    background-color: lightblue;
}

tr:nth-last-child(3),
tr:nth-last-child(2) {
    text-align: center;
    justify-content: center;
}

.bookCard {
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    padding: 0.25%;
    margin:  .5%;
    border: 2px solid bisque;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}